#computer-img {

    transform: scaleX(-1); /* Flip image horizontally */
}

h1, p {

    text-align: center;
    margin-bottom: 30px;
}

.img-container {

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rock-container, .paper-container, .scissors-container {

    display: flex;
    gap: 2em;
}

.img-space {

    margin-bottom: 30px;
    border: 1px solid;
}

button {

    height: 108px;
    margin-bottom: 30px;
    padding: 0;

}

.shake {
    
    animation-name: shake; 
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;

}

@keyframes shake {

    3%, 21%, 39%, 57%, 74%, 92% { transform: translateY(5px) }
    6%, 24%, 42%, 60%, 77%, 95% { transform: translateY(3px) }
    9%, 27%, 45%, 63%, 80%, 98% { transform: translateY(-5px) }

}